<header>
  <nav class="navbar navbar-expand-lg navbar-light custom-header px-4">
    <div class="mf-auto">
      <%= link_to '/', class: 'navbar-brand ms-auto' do %>
        <%= image_tag 'main_image.png', width: 153 %>
      <% end %>
      <span class="ms-2 lead fw-bold">
        ~日常を見直す週間管理アプリ~
      </span>
    </div>
    <div class="ms-auto fw-bold">
      <ul class="navbar-nav" style="flex-direction: row;">
        <li class="nav-item px-2">
          <a class="navlink" href="#">使い方</a>
        </li>
        <li class="nav-item px-2">
          <a class="navlink" href="#">ランキング</a>
        </li>
        <li class="nav-item px-2">
          <a class="navlink" href="#">投稿</a>
        </li>
        <li class="nav-item px-2">
          <%= link_to 'ログイン', login_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
</header>