<div class="container pt-3 text-center">
  <h2 class="mb-3">現在「集中モード」利用中です</h2>
  <p class="mb-4">他の人の投稿は表示しません。自分の記録に集中しましょう。</p>
  <div class="">
    <div class="py-2">
      <%= link_to t('header.post'), new_post_path, class: "btn btn-primary" %>
    </div>
    <div>
      <%= link_to t('header.my_page'), user_path(current_user), class: "btn btn-outline-warning me-2" %>
      <%= link_to t('posts.focus.mode_change'), edit_user_path(current_user), class: "btn btn-outline-warning" %>
    </div>
  </div>
</div>
