<div class="container pt-3">
  <div class="ms-auto">
    <p class="text-end">ソート機能実装部分</p>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @posts.present? %>
          <%= render @posts %>
        <% else %>
          <div class="mb-3">掲示板がありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>

