<aside class="app-sidebar bg-body-secondary">
  <div class="sidebar-wrapper">
    <nav class="mx-2">
      <ul class="nav sidebar-menu flex-column">
        <li class="nav-item">
          <%= link_to t("admin.default.posts"), admin_root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t("admin.default.famous_quotes"), admin_root_path , class: "nav-link" %>
        </li>
      </ul>
    </nav>
  </div>
</aside>