<aside class="app-sidebar bg-body-secondary">
  <div class="sidebar-wrapper">
    <nav class="mx-2">
      <ul class="nav sidebar-menu flex-column">
        <li class="nav-item">
          <p>投稿一覧</p>
        </li>
        <li class="nav-item">
          <p>名言一覧</p>
        </li>
      </ul>
    </nav>
  </div>
</aside>